body {
    display: flex;
    justify-content: center;
    background-color: #EEDFE6;
    font-family: 'Space Mono', monospace;
}

.nav {
    background: white;
    padding: 2rem;
    display: flex;
    justify-content: space-around ;

}

.profile-pic {
    height: 22rem;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    height: 100v;
}

.brief {
    background-color: white;
    border: 1px solid black;
    padding: 0.5rem;
    line-height: 150%;
}

